<div
  class="container max-w-sm bg-brandy-600 rounded-b-xl p-2 font-montserrat text-brandy-50 mx-5 group transition-all duration-300 overflow-hidden"
>
  <img
    [src]="imageUrl"
    alt="Portfolio Image"
    class="w-full h-auto rounded-xl object-cover grayscale group-hover:grayscale-0 transition-all duration-300"
  />
  <div
    class="bg-nandor-900 rounded-b-xl -mt-5 pt-5 p-2 transition-all duration-300"
  >
    <h2 class="font-bold text-xl pt-2">{{ title }}</h2>
    <p class="text-brandy-200">{{ description }}</p>
    <div
      class="overflow-hidden max-h-0 group-hover:max-h-32 flex flex-row items-center transition-all duration-300 my-3"
    >
      <span class="text-brandy-200 text-sm font-montserrat">Using:</span>
      <div class="flex flex-row mx-auto items-center justify-evenly space-x-2">
        <div class="bg-red-900 w-6 h-6"></div>
        <div class="bg-blue-900 w-6 h-6"></div>
        <div class="bg-green-900 w-6 h-6"></div>
      </div>
    </div>
  </div>
</div>
