<div
  class="flex flex-col items-center justify-center h-screen overflow-hidden bg-brandy-300"
>
  <div class="container w-10/12 h-3/4 bg-nandor-700 rounded-2xl">
    <div class="flex flex-col items-start justify-center h-full pl-64 pr-12 font-montserrat">
      <h1 class="text-5xl text-white mb-2">Felipe Gregorio</h1>
      <p class="text-3xl text-white my-1">Full Stack Developer</p>
      <p class="text-white mb-1 text-justify">
        Hello! I'm a Computer Science major from Brazil with a passion for
        games, design, photography, and modding. I thrive on creativity and
        innovation, always seeking to blend technology with artistic expression.
        Whether it's developing immersive gaming experiences, capturing moments
        through my lens, or customizing and enhancing software, I'm dedicated to
        pushing the boundaries of what's possible.
      </p>
      <div class="grid grid-cols-6 grid-rows-2 gap-2">
        <div
          class="w-24 h-24 bg-red-500 filter hover:brightness-90 transition-all"
        ></div>
        <div
          class="w-24 h-24 bg-green-500 filter hover:brightness-90 transition-all"
        ></div>
        <div
          class="w-24 h-24 bg-blue-500 filter hover:brightness-90 transition-all"
        ></div>
        <div
          class="w-24 h-24 bg-purple-500 filter hover:brightness-90 transition-all"
        ></div>
        <div
          class="w-24 h-24 bg-yellow-500 filter hover:brightness-90 transition-all"
        ></div>
        <div
          class="w-24 h-24 bg-pink-500 filter hover:brightness-90 transition-all"
        ></div>
        <div
          class="w-24 h-24 bg-orange-500 filter hover:brightness-90 transition-all"
        ></div>
        <div
          class="w-24 h-24 bg-teal-500 filter hover:brightness-90 transition-all"
        ></div>
        <div
          class="w-24 h-24 bg-indigo-500 filter hover:brightness-90 transition-all"
        ></div>
        <div
          class="w-24 h-24 bg-gray-500 filter hover:brightness-90 transition-all"
        ></div>
        <div
          class="w-24 h-24 bg-cyan-500 filter hover:brightness-90 transition-all"
        ></div>
        <div
          class="w-24 h-24 bg-lime-500 filter hover:brightness-90 transition-all"
        ></div>
      </div>
    </div>
  </div>
</div>
