<nav class="bg-gable-green-900 p-4 absolute top-0 w-screen">
  <div class="container mx-auto flex justify-between uppercase font-mono">
    <a class="text-white font-bold text-xl active:underline" routerLink="/"
      >felipe gregorio</a
    >
    <ul class="flex space-x-4">
      <li><a class="text-white" routerLink="/projects">projects</a></li>
      <li><a class="text-white" routerLink="/about">about</a></li>
      <li><a class="text-white" routerLink="/contacts">contacts</a></li>
      <!-- Add more links as needed -->
    </ul>
  </div>
</nav>
