<nav class="bg-gable-green-900 p-4 absolute top-0 w-screen">
  <div class="container mx-auto flex justify-between uppercase font-montserrat">
    <a class="text-white font-bold text-xl" routerLink="/" RouterLinkActive="text-blue-500 font-bold"
    >felipe gregorio</a
    >
    <ul class="flex space-x-4">
      <li><a class="text-white" routerLink="/portfolio" routerLinkActive="text-decoration: underline;">projects</a></li>
      <li><a class="text-white" routerLink="/about" routerLinkActive="text-decoration: underline;">about</a></li>
      <li><a class="text-white" routerLink="/contacts">contacts</a></li>
      <!-- Add more links as needed -->
    </ul>
  </div>
</nav>
