<div class="flex h-screen bg-brandy-300">
  <div
    class="container flex w-3/4 h-full m-auto items-center justify-center text-justify"
  >
    <p
      class="text-white font-montserrat w-full bg-gable-green-950 p-10 rounded-b-xl"
    >
      Hello! I'm a Computer Science major from Brazil with a passion for games,
      design, photography, and modding. I thrive on creativity and innovation,
      always seeking to blend technology with artistic expression. Whether it's
      developing immersive gaming experiences, capturing moments through my
      lens, or customizing and enhancing software, I'm dedicated to pushing the
      boundaries of what's possible. My journey in education has been diverse
      and enriching. I started at CEFET-MG and later at IFSC, where I studied
      Technical Course in Building Construction, which provided me with a strong
      foundation in technical skills and project management. Later, I pursued a
      degree in Administration from SENAI, gaining valuable insights into
      organizational and business processes. Currently, I'm furthering my
      education in Computer Science at the Federal University of Itajubá. This
      program has allowed me to delve deeper into the world of technology,
      equipping me with advanced knowledge and skills to innovate and excel in
      my field. My varied educational background and my passions come together
      to fuel my creativity and drive. I'm always looking for new challenges and
      opportunities to learn, grow, and make a meaningful impact through my
      work.
    </p>
  </div>
</div>
